body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.652rem;
  width: 35%;
  margin: 0 auto;
  margin-top: 25px;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 3%;
  margin: 100px auto;
}
p{
  line-height: 2;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.topContainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 200px;
}

.middle-container {
  margin: 100px 0;

}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.chilli-img{
  width: 25%;
  float: left;
  margin-right: 30px;

}
.com-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.cirular{
  border-radius: 100%;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.pro {
  text-decoration: underline;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   height: 14px;
   line-height: 14px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   width: 185px;
   font-size: 20px;
   font-weight: 900;
   padding: 12px;
   box-shadow: 1px 1px 6px 0px #000000;
   -webkit-box-shadow: 1px 1px 6px 0px #000000;
   -moz-box-shadow: 1px 1px 6px 0px #000000;
   text-shadow: 1px 1px 6px #000000;
   border: solid #762C2C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #ED3333 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
